@model RecipeApp.Models.ViewModels.RecipeViewModel

<h2>Create Recipe</h2>

<form asp-controller="Admin" asp-action="Create" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div>
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" />
        <span asp-validation-for="ImageUrl"></span>
    </div>

    <div>
        <label asp-for="Ingredients"></label>
        <textarea asp-for="Ingredients" rows="6" class="form-control" placeholder="e.g.
        - 2 cups of flour
        - 1 egg
        - 1 tsp vanilla"></textarea>
        <span asp-validation-for="Ingredients" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="InstructionsHtml"></label>
        <textarea asp-for="InstructionsHtml" class="form-control" rows="10"></textarea>
        <span asp-validation-for="InstructionsHtml" class="text-danger"></span>
    </div>


    <button type="submit">Save</button>
    <a asp-action="Index">Cancel</a>
</form>

@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#InstructionsHtml'))
            .catch(error => console.error(error));
    </script>
}
